<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010420009793-o0e40830ujtfjkkhf3d3bkg7b0idgkj3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010420009793-o0e40830ujtfjkkhf3d3bkg7b0idgkj3</string>
	<key>API_KEY</key>
	<string>AIzaSyB0gp6JLrfczDndptY0k2g5IrtNDhDO60c</string>
	<key>GCM_SENDER_ID</key>
	<string>1010420009793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taxidriver</string>
	<key>PROJECT_ID</key>
	<string>taxi-app-user-4800a</string>
	<key>STORAGE_BUCKET</key>
	<string>taxi-app-user-4800a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010420009793:ios:715d60669b9df1cdaf2fc0</string>
</dict>
</plist>